backports-tarfile==1.2.0 ; python_version >= "3.10" and python_version < "3.12" and platform_machine != "ppc64le" and platform_machine != "s390x"
black==26.5.1 ; python_version >= "3.10" and python_version < "4.0"
boto3==1.43.36 ; python_version >= "3.10" and python_version < "4.0"
botocore==1.43.36 ; python_version >= "3.10" and python_version < "4.0"
certifi==2026.6.17 ; python_version >= "3.10" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.10" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x" and sys_platform == "linux" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.7 ; python_version >= "3.10" and python_version < "4.0"
click==8.4.2 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
conflog==2.1.1 ; python_version >= "3.10" and python_version < "4.0"
cryptography==49.0.0 ; python_version >= "3.10" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x" and sys_platform == "linux"
docutils==0.21.2 ; python_version >= "3.10" and python_version < "4.0"
fsspec==2026.6.0 ; python_version >= "3.10" and python_version < "4.0"
id==1.6.1 ; python_version >= "3.10" and python_version < "4.0"
idna==3.18 ; python_version >= "3.10" and python_version < "4.0"
importlib-metadata==9.0.0 ; python_version >= "3.10" and python_version < "3.12" and platform_machine != "ppc64le" and platform_machine != "s390x"
jaraco-classes==3.4.0 ; python_version >= "3.10" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x"
jaraco-context==6.1.2 ; python_version >= "3.10" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x"
jaraco-functools==4.5.0 ; python_version >= "3.10" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x"
jeepney==0.9.0 ; python_version >= "3.10" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x" and sys_platform == "linux"
jmespath==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
keyring==25.7.0 ; python_version >= "3.10" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x"
markdown-it-py==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
more-itertools==11.1.0 ; python_version >= "3.10" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x"
mypy-extensions==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
nh3==0.3.6 ; python_version >= "3.10" and python_version < "4.0"
packaging==26.2 ; python_version >= "3.10" and python_version < "4.0"
pathspec==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==4.10.0 ; python_version >= "3.10" and python_version < "4.0"
pycparser==3.0 ; python_version >= "3.10" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x" and sys_platform == "linux" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pygments==2.20.0 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "4.0"
pytokens==0.4.1 ; python_version >= "3.10" and python_version < "4.0"
pywin32-ctypes==0.2.3 ; python_version >= "3.10" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x" and sys_platform == "win32"
pyyaml-include==2.2 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.10" and python_version < "4.0"
readme-renderer==45.0 ; python_version >= "3.10" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.34.2 ; python_version >= "3.10" and python_version < "4.0"
rfc3986==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
rich==15.0.0 ; python_version >= "3.10" and python_version < "4.0"
s3transfer==0.19.0 ; python_version >= "3.10" and python_version < "4.0"
secretstorage==3.5.0 ; python_version >= "3.10" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x" and sys_platform == "linux"
six==1.17.0 ; python_version >= "3.10" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.4.1 ; python_version == "3.10"
twine==6.2.0 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version == "3.10"
urllib3==2.7.0 ; python_version >= "3.10" and python_version < "4.0"
wheel==0.47.0 ; python_version >= "3.10" and python_version < "4.0"
zipp==4.1.0 ; python_version >= "3.10" and python_version < "3.12" and platform_machine != "ppc64le" and platform_machine != "s390x"
